*{padding: 0;
  margin: 0;
box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url(./img/imgtecno.jpg);
    background-position: center;
    background-size: cover;

}
li{list-style: none;
}

a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover{color: orange;}

/*headear*/

header{
  position: relative;
  padding: 0 1rem;
}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}
.navbar .links {
  display: flex;
  gap: 2rem;

}

.navbar .toggle_btn{
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn{
  background-color: orange;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: aliceblue;
}
.action_btn:active{
  scale: 0.95;
}
/*drop downmenu*/
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0px;
  width: 300px;
  background: rgb(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open {
  height: 240px;
}
.dropdown_menu li {
  padding: .7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;

}
/*hero*/
section#hero{
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;


}

#hero h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}




/*gallery*/


.aboutTitle{
  color: white;
  text-align: center;
  font-size: 60px;
  padding: 30px;
  font-family: 'Kaushan Script', cursive;
  transition: .5s;
}
.container{
  border: 2px solid white;
  margin: 40px 40px;
  padding: 20px 0;
}
span{color: white;
    font-size: 20px;
    padding-left: 20px;
    
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 350px; /* width: 350px; */
  border: solid 2px white;
}

.image-gallery li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}


/*service*/

main div p {
  color: white;
  text-align: center;
  font-size: 20px;
}
.container_promo{display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

}
.container_promo .promo{
  border: 2px solid white;
  flex-basis: 350px; /* width: 350px; */
  border: solid 2px white;
  font-weight: bold;
}
.promo img{
  object-fit: cover;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-radius: 5px;
}
.promo p{ background-color: rgba(0,0,0,.5);
  color: #fff;
  
  text-align: left;

}
.promo .precio{
  color: orange;
  text-align: center;
  font-size: 30px;
}



/*diseño responsive*/

@media (max-width: 992px){
  .navbar .links,
  .navbar .action_btn{
    display: none;
  }
  .navbar .toggle_btn{
    color: rgb(232, 8, 8);
    display: block;
  }
  .dropdown_menu{
    display: block;
  }
  .aboutTitle{
    color: orange;
    font-size: 45px;
    transition: .5s;
  }
  
}
@media (max-width: 576px) {
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}



